{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE HTML>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Django Cadastros</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'cadastro/style/style.css' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'cadastro/img/favicon-16x16.png' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>

<div class="menu-horizontal">
    <div class="ui three item attached inverted menu">
        <a href="{% url 'HomeCreate' %}" class="item"><i class="fab fa-python"></i>
            <p>Django Cadastros</p></a>
    </div>
</div>

<div class="ui hidden divider"></div>

<div class="ui container">
    <div class="ui stackable grid">
        <div class="four wide column">
            <div class="ui vertical fluid menu">
                <a href="{% url 'HomeCreate' %}" class="item">
                    Cadastrar
                </a>
                <a href="{% url 'lista' %}" class="item">
                    Lista de Pessoas
                </a>
            </div>
        </div>

        <div class="twelve wide column">
            {% block conteudo %}
            {% endblock %}
        </div>
    </div>
</body>
</html>