{% load static %}

<!DOCTYPE HTML>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Django Cadastros</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'cadastro/style/style.css' %}">
</head>
<body>

<div class="menu-horizontal">
    <div class="ui three item attached inverted menu">
        <i class="fab fa-python"></i><div class="titulo"><h3>Django Cadastros</h3></div>
    </div>
</div>

<div class="ui hidden divider"></div>

<div class="ui container">
    <div class="ui stackable grid">
        <div class="four wide column">
            <div class="ui vertical fluid menu">
                <a href="{% url 'lista' %}" class="item">
                    Lista de Pessoas
                </a>
                <a class="item">
                    Cadastrar
                </a>
            </div>
        </div>

        <div class="twelve wide column">

            <h1>Cadastro</h1>

            <div class="ui large stackable form">
                <div class="two fields">
                    <div class="field">
                        <label>Nome</label>
                        <input placeholder="Nome" type="text">
                    </div>
                    <div class="field">
                        <label>Sobrenome</label>
                        <input placeholder="Sobrenome" type="text">
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>E-mail</label>
                        <input placeholder="rafael@contato.com" type="text">
                    </div>
                    <div class="field">
                        <label>Data de Nascimento</label>
                        <input placeholder="example: 2002-06-22" type="text">
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Idade</label>
                        <input placeholder="18" type="text">
                    </div>
                    <div class="field">
                        <label>Apelido</label>
                        <input placeholder="Apelido" type="text">
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Observação</label>
                        <textarea rows="2"></textarea>
                    </div>
                </div>
                <div class="ui submit button">Cadastrar</div>
            </div>

        </div>
    </div>


</body>
</html>