{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block conteudo %}

<div class="ui hidden divider"></div>

<div class="ui one column stackable grid">
    <div class="ui right aligned category search">
        <form class="ui form" action="{% url 'resultado' %}" method="get">
            <div class="inline fields">
                <input id="resultado" name="resultado" class="prompt" type="text"
                       placeholder="Pesquisar nome...">
                <button class="ui icon button">
                    <i class="search link icon"></i>
                </button>
            </div>
            <p>Digite o primeiro nome de alguém</p>
        </form>
        {% if not pessoas %}
            <h3>Não achei ninguém...</h3>
        {% endif %}
    </div>
    {% for pessoa in pessoas %}
    <div class="column">
        <div class="ui fluid card">
            <div class="content">
                <div class="header">{{ pessoa.nome }}</div>
            </div>
            <div class="content">
                <div class="ui small feed">
                    <div class="event">
                        <div class="content">
                            <h4>Nome: {{ pessoa.nome }}</h4>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <h4>Sobrenome: {{ pessoa.sobrenome }}</h4>
                        </div>
                    </div>
                    {% if pessoa.apelido %}
                    <div class="event">
                        <div class="content">
                            <h4>Apelido: {{ pessoa.apelido }}</h4>
                        </div>
                    </div>
                    {% endif %}
                    <div class="event">
                        <div class="content">
                            <h4>Idade: {{ pessoa.idade }} anos</h4>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <h4>E-mail: {{ pessoa.email }}</h4>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <h4>Nasceu em: {{ pessoa.data_nascimento }}</h4>
                        </div>
                    </div>
                    {% if pessoa.observacao %}
                    <div class="event">
                        <div class="content">
                            <h4>Observação: {{ pessoa.observacao }}</h4>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="extra content">
                <a href="{% url 'pessoa' pessoa.id %}">
                    <button class="ui yellow button">Editar</button>
                </a>
                <strong>ou</strong>
                <a href="{% url 'deletar' pessoa.id %}">
                    <button class="ui negative button">Excluir</button>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}