{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block conteudo %}

<div class="ui one column stackable grid">
    {% for pessoa in pessoas %}
    <div class="column">
        <div class="ui fluid card">
            <div class="content">
                <div class="header">{{ pessoa.nome }}</div>
            </div>
            <div class="content">
                <div class="ui small feed">
                    <div class="event">
                        <div class="content">
                            <h4>Nome: {{ pessoa.nome }}</h4>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <h4>Sobrenome: {{ pessoa.sobrenome }}</h4>
                        </div>
                    </div>
                    {% if pessoa.apelido %}
                    <div class="event">
                        <div class="content">
                            <h4>Apelido: {{ pessoa.apelido }}</h4>
                        </div>
                    </div>
                    {% endif %}
                    <div class="event">
                        <div class="content">
                            <h4>Idade: {{ pessoa.idade }} anos</h4>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <h4>E-mail: {{ pessoa.email }}</h4>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <h4>Nasceu em: {{ pessoa.data_nascimento }}</h4>
                        </div>
                    </div>
                    {% if pessoa.observacao %}
                    <div class="event">
                        <div class="content">
                            <h4>Observação: {{ pessoa.observacao }}</h4>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="extra content">
                <a href="{% url 'pessoa' pessoa.id %}">
                    <button class="ui button">Editar</button>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
